<div class="card-body">
  <form [formGroup]="formUsuario">
    <div class="form-group">
      <div class="form-control">
        <input type="hidden" name="id" id="id" formControlName="id"/>
        <po-input name="name" id="name" formControlName="name" p-label="Nome" p-required="true"> </po-input>
        <po-input name="email" id="email" formControlName="email" p-label="E-mail"> </po-input>
        <po-input name="phone" id="phone" formControlName="phone" p-mask="(99) 9 9999-9999" p-label="Telefone"> </po-input>

        <po-password name="password" id="password" formControlName="password" p-label="Senha"> </po-password>
        <po-password name="confirmar" id="confirmar" formControlName="confirmar" p-label="Confirmar Senha"> </po-password>

        <po-select name="roleUser" id="roleUser" formControlName="roleUser" p-label="Permissão"
          [p-options]=
            "[
              { label: 'guest', value: 'guest' },
              { label: 'admin', value: 'admin' },
              { label: 'user', value: 'user' }
            ]"
        ></po-select>

      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="adicionaOuAtualiza()" [disabled]="!formUsuario.valid">Salvar</button>
      <button type="button" class="btn btn-secondary" (click)="usuariosList()">Cancelar</button>
    </div>
  </form>
</div>
