<div class="card-body">
  <form [formGroup]="formContato" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="form-control">
        <po-input name="name" id="name" formControlName="name" p-label="Nome"> </po-input>
        <po-input name="email" id="email" formControlName="email" p-label="E-mail"> </po-input>
        <po-input name="phone" id="phone" formControlName="phone" p-mask="(99) 9 9999-9999" p-label="Telefone"> </po-input>
      </div>
    </div>

    <input type="submit" class="btn btn-primary mt-4" value="Salvar">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
  </form>
</div>
